.cart-section{
    background-image: url('../design-files/menu-background.svg');
    background-size: cover;
    background-position: center;
    padding-top: -200px;
}
.cart{
    /* background: #fff; */
    padding: 100px;
    padding-top: 150px;
}
.cart > h3{
    padding-bottom: 20px;
}
.cart-item{
    width: 100%;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}
.cart-item > span{
    color: #707070;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.cart-item > img{
    width: auto;
    height: 100%;
}
.cart-item > .item-details > b{
    color: #707070;
    display: block;
}
.cart-item > .item-details > i{
    color: #F89A3A;
}
.cart-item > .item-details > .quantity{
    border: none;
    width: 40px;
    display: block;
    background: #e9e9e9;
}
.cart-cta{
    padding-top: 24px;
}
.cart-cta > .cart-btn{
    border: 1px solid #F89A3A;
    padding: 12px 20px;
    /* background: #F9F06C; */
    background: #F89A3A;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    width: 100%;
}
.cart-cta > .cart-btn:hover{
    background: #F89A3A;
}
.item-total{
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.item-total > .item-price{
    display: flex;
    justify-content: space-between;
}
.item-total > .item-price > b{
    font-weight: normal;
}
.item-total > .delivery-price{
    display: flex;
    justify-content: space-between;
}
.item-total > .delivery-price > b{
    font-weight: normal;
}
.item-total > .tax-price{
    display: flex;
    justify-content: space-between;
}
.item-total > .tax-price > b{
    font-weight: normal;
}
.item-total > .total-price{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.item-total > .total-price > b{
    font-weight: bold;
    color: #F89A3A;
}

@media only screen and (max-width: 768px){
    .cart{
        padding: 12px;
        padding-top: 120px;
    }
}