.header{
    background: #FFFEF0;
    height: 100vh;
    width: 100%
}

.header-wrapper{
    background-image: url('/src/design-files/header-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
}
.header-wrapper h1{
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 2vh;
    margin-top: 15vh;
    color: #707070;
}
.header-wrapper p{
    font-size: 1em;
}

.header-wrapper p:last-of-type{
    margin-bottom: 5vh;
}

.header-btn{
    display: block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #F89A3A;
    border-color: #F89A3A;
}
.header-btn:hover{
    background-color: #fa8d20;
    border-color: #fa8006;
}

.hero-image{
    position: absolute;
    height: 90%;
    width: auto;
    right: 5vw;
    top: 8vh;
    z-index: 0;
}

.app-icon{
    opacity: 0.3;
    /* display: none; */
    width: auto;
    height: 50px;
}
.app-icon:hover{
    opacity: 0.6;
}

.social-icons{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2em;
    color: #fff;
}



