.header-wrapper p{
    font-size: 1em;
}

.header-wrapper p:last-of-type{
    margin-bottom: 5vh;
}

.header-btn{
    display: block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #F89A3A !important;
    border-color: #F89A3A !important;
}
.header-btn:hover{
    background-color: #fa8d20 !important;
    border-color: #fa8006 !important;
}

.hero-image{
    position: absolute;
    height: 90%;
    width: auto; 
    right: 5vw;
    top: 8vh;
    z-index: 0;
}
.hero-image-mobile{
    display: none;
}

.app-icon{
    opacity: 0.3;
    /* display: none; */
    width: auto;
    height: 50px;
}
.app-icon:hover{
    opacity: 0.6;
}

.social-icons{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2em;
    color: #fff;
}
.social-icons a{
    color: #fff;
}
.social-icons a:hover{
    color: rgb(245, 245, 245);
}

@media only screen and (min-width: 1200px){
    .header{
        background: #FFFEF0;
        height: 100vh;
        width: 100%;
    }

    .header-wrapper{
        background-image: url('/src/design-files/header-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: inherit;
    }
    .header-wrapper h1{
        font-weight: bold;
        font-size: 4em;
        margin-bottom: 2vh;
        margin-top: 15vh;
        color: #707070;
    }
    .header-wrapper p{
        font-size: 1em;
    }

    .header-wrapper p:last-of-type{
        margin-bottom: 5vh;
    }

    .header-btn{
        display: block;
        margin-top: 10vh;
        margin-bottom: 10vh;
        font-weight: bold;
        border-radius: 50px;
        padding: 10px 30px;
        background-color: #F89A3A !important;
        border-color: #F89A3A !important;
    }
    .header-btn:hover{
        background-color: #fa8d20 !important;
        border-color: #fa8006 !important;
    }

    .hero-image{
        position: absolute;
        height: 90%;
        width: auto; 
        right: 5vw;
        top: 8vh;
        z-index: 0;
    }
    .hero-image-mobile{
        display: none;
    }

    .app-icon{
        opacity: 0.3;
        /* display: none; */
        width: auto;
        height: 50px;
    }
    .app-icon:hover{
        opacity: 0.6;
    }

    .social-icons{
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 2em;
        color: #fff;
    }
}

@media only screen and (max-width: 1200px){
    /**** Tablets ****/
    .header{
        height: 100vh;
        /* background: green; */
    }
    .header-wrapper{
        background-image: url('/src/design-files/hero-image.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 400px;
        height: inherit;
        width: inherit;
        padding-top: 80px;
    }
    .header-wrapper h1{
        font-weight: bold;
        font-size: 3.5em;
        color: #707070;
        margin-top: -5px;
    }
    .hero-image{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -80px;
        z-index: 0;
        display: none;
    }
    .hero-image-mobile{
        display: none;
    }
    .app-icon{
        display: none;
    }
    .social-icons{
       display: none;
    }
}

@media only screen and (max-width: 768px){
    /**** Mobile ****/
    .header{
        height: 100%;
    }
    .header-wrapper{
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: inherit;
        padding: 10px;
    }
    .header-wrapper h1{
        font-weight: bold;
        font-size: 3.5em;
        color: #707070;
        margin-top: -5px;
    }
    .hero-image{
        display: none;
    }
    .hero-image-mobile{
        display: inline;
        width: 100%;
        height: auto;
        margin-top: 20px;
        text-align: center;
    }
    .app-icon{
        display: none;
    }
    .social-icons{
        display: none;
    }
}




