.menu-section{
    background-image: url('../design-files/menu-background.svg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}
.category-search{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.category-search > ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    flex-basis: 60%;
}
.category-search > ul > li {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    color: #969696;
    padding: 12px 20px;
    cursor: pointer;
}
/* .category-search > ul > li:first-of-type {
    border-bottom: 2px solid #F89A3A;
    color: #F89A3A;
} */

.category-search .active {
    border-bottom: 2px solid #F89A3A;
    color: #F89A3A;
}

.menu-search{
    height: 50px;
    flex-basis: 35%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border: 1px solid #707070;
}
.menu-search:focus{
    border: 2px solid #F89A3A;
    border-radius: 50px;
    outline: none;
}

@media only screen and (max-width: 768px){
    .category-search > ul{
        flex-basis: 100%;
    }
    .category-search > ul > li {
        display: inline-block;
        font-weight: bold;
        margin-left: 10px;
        color: #969696;
        padding: 6px 10px;
    }
    .menu-search{
        flex-basis: 100%;
    }
}