.bg-transparent{
    background: transparent !important;
}
.bg-customized{
    background: #FFFEF0;
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}
.navigation-link-customized{
    font-size: 1.8em;
    margin-left: 1.5em;
    color: rgba(0,0,0 0.8);
}
.brand-text{
    font-weight: bold;
    font-size: 1.8em;
}

.navigation-link{
    font-size: 1.8em;
    margin-left: 1.5em;
    color: #fff;
}

.pill-style{
    background: #F9F06C;
    color: #6b6b6b;
    padding: 12px 10px;
    border-radius: 50px !important;
    position: absolute;
    left: -5px;
    top: -20px;
    font-size: 14px;
}

@media only screen and (max-width: 1200px){
    .navigation-link{
        font-size: 1.5em;
        margin-left: 1em;
        color: #8b8b8b;
    }
    .nav-hack{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 768px){
    .navigation-link{
        font-size: 1.5em;
        margin-left: 1em;
        color: #8b8b8b;
    }
    .navigation-link-customized{
        font-size: 1.5em;
        margin-left: 1em;
        color: #8b8b8b;
    }
    /* .navigation-link:first-of-type{
        margin-right: 1em;
    } */
    .nav-hack{
        display: flex;
        flex-direction: row;
    }
    .pill-style{
        background: #F9F06C;
        color: #6b6b6b;
        padding: 6px 5px;
        border-radius: 50px !important;
        position: absolute;
        left: -35px;
        top: -15px;
        font-size: 14px;
        font-weight: 400;
    }
}